* {
    box-sizing: border-box;
}

.container {
    background-color: yellow;
    color: darkblue;
    font-weight: bold;
    width: 80%;
    font-size: 30px;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: calc(1rem+2px);
    border: 3px yellow solid;
    box-shadow: 0px 0px 10px 5px yellow;
}

body {
    background-color: #110d63;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.timer {
    position: absolute;
    color: skyblue;
    font-size: 100px;
    top: 4rem;
    font-weight: bold;
}

.sentence {
    /* margin-left: calc(1rem+2px); */
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}


/* .area:focus {
    border: 2px black dashed;
} */

.area {
    background-color: transparent;
    font-weight: bold;
    border: 2px black dashed;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    font-family: "Comic Sans MS";
    padding: 1rem;
    resize: none;
}

.right {
    color: lightgreen;
}

.wrong {
    color: red;
    text-decoration: underline;
}

.someting {
    color: yellow;
}